body
{
background-image: url("i2.jpg");
}

.heading
{
  font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}

.note
{
 font-size: 15px;
  color:black;
  font-weight:bold;
}

.copy_right_footer
{
  position: fixed;
    color:white;
    bottom: 0;
    width:50%;
    background-color: grey;
    line-height: 4;
    text-align:center;
    margin-left: 25%;
    font-weight: bold;
    
}

canvas
{
  border:5px solid grey;
  border-radius:20px;
  box-shadow: 5px 5px 5px white;
}

